<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de tramites</div>
            <div class="panel-body">
                <table id="tramites" class="display table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Alumno</th>
                            <th>Tema</th>
                            <th>Asesor</th>
                            <th>Estado</th>
                            <th>Revisar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Alumno</th>
                            <th>Tema</th>
                            <th>Asesor</th>
                            <th>Estado</th>
                            <th>Revisar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Mauricio Esquivel</td>
                            <td>Sistema para BICIPUMAS</td>
                            <td>Miguel Ehécatl Morales Trujillo</td>
                            <td>Esperando aceptación</td>
                            <td><a href="/jefe/tramite" class="btn btn-primary"></a></td>
                        </tr>
                        <tr>
                            <td>Moisés Vázquez</td>
                            <td>Mónadas en la programación funcional: una prueba formal de su equivalencia con las ternas de Kleisli</td>
                            <td>Favio Miranda</td>
                            <td>Falta Notificación de termino</td>
                            <td><a href="/jefe/tramite" class="btn btn-primary"></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

