<div class="row">
    <div class="col-md-12">
        
        <h2 class="page-title">Estado del tramite</h2>
        <div class="row">
            
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <th>Alumno</th>
                                        <td colspan="4">Mauricio Esquivel</td>
                                    </tr>
                                    <tr>
                                        <th>Tema</th>
                                        <td colspan="4">Sistema para el control de BICIPUMA</td>
                                    </tr>
                                    <tr>
                                        <th>Asesor</th>
                                        <td colspan="4">Miguel Ehécatl Morales Trujillo</td>
                                    </tr>
                                    <tr>
                                        <th>Estado</th>
                                        <td colspan="4">En espera de autorización</td>
                                    </tr>
                                    <tr>
                                        <th>Notificación de termino</th>
                                        <td colspan="4"><a href="#">Vacio</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Solicitar cambios</div>
            <div class="panel-body">
                <form method="" onsubmit="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cambios</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>                       
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Cambios" onclick="return submitForm(this,event)">Solicitar cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Aceptar tramite</div>
            <div class="panel-body">
                <form method="" onsubmit="" class="form-horizontal">                       
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Aceptar" onclick="return submitForm(this,event)">Aceptar tramite</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Autorizar tramite</div>
            <div class="panel-body">
                <form method="" onsubmit="" class="form-horizontal">                       
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Autorizar" onclick="return submitForm(this,event)">Autorizar tramite</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">Cancelar tramite</div>
            <div class="panel-body">
                <form method="" onsubmit="" class="form-horizontal">                      
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Cancelar" onclick="return submitForm(this,event)">Cancelar tramite</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        
    </div>
</div>

<script type="text/javascript">
    function submitForm (button, evt)
    {
      if (button.value == "Cancelar"){
        alert("Se cancelo el tramite");
        location.href = "/jefe";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false;
      }
      else if (button.value == "Aceptar"){
        alert("Tramite aceptado");
        return false;
      } 
      else if (button.value == "Autorizar"){
        alert("Tramite autorizado");
        return false;
      }else if (button.value == "Cambios"){
        alert("Cambios solicitados");
        return false;
      }
    
      return false;
    }
</script>