<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Bienvenido a Sistema de Seguimiento del Tramite de Titulación</h2>
        <div class="jumbotron">
            <h1>Revisa tu tramite</h1>
            <p>En el siguiente enlace podras revisar el estado de tu tramite</p>
            <p><a href="/alumno/tramite" class="btn btn-primary btn-lg">Revisar tramite</a></p>
        </div>
    </div>
</div>