<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Registrar tramite</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Datos</div>
                    <div class="panel-body">
                        <form method="" onsubmit="" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tema</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="Tema de la tesis" class="form-control">
                                </div>
                            </div>
                            <div class="hr-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nombre del asesor</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="ej. Cosme Fulanito" class="form-control">
                                </div>
                            </div>                        
                            <div class="hr-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-default" type="submit" value="Cancelar" onclick="return submitForm(this,event)">Cancelar</button>
                                    <button class="btn btn-primary" type="submit" value="Guardar" onclick="return submitForm(this,event)">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function submitForm (button, evt)
    {
      if (button.value == "Cancelar")
      {
        alert("Tramite no guardado");
        location.href = "/alumno";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false;
      }
      else if (button.value == "Guardar")
      {
        alert("Tramite guardado");
        location.href = "/alumno";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false;
      } 
    
      return false;
    }
</script>