<div class="row">
    <div class="col-md-12">
        
        <h2 class="page-title">Estado del tramite</h2>
        <div class="row">
            
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <th>Tema</th>
                                        <td colspan="4">Sistema para el control de BICIPUMA</td>
                                    </tr>
                                    <tr>
                                        <th>Asesor</th>
                                        <td colspan="4">Miguel Ehécatl Morales Trujillo</td>
                                    </tr>
                                    <tr>
                                        <th>Estado</th>
                                        <td colspan="4">En espera de autorización</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Notificacion de termino</div>
            <div class="panel-body">
                <form method="" onsubmit="" class="form-horizontal">
                    <div class="hr-dashed"></div>
                    <input id="input-43" type="file" multiple>
                    <div id="errorBlock43" class="help-block"></div>
                    <div class="hr-dashed"></div>                       
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Subir" onclick="return submitForm(this,event)">Subir archivo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">Solicitar cancelación</div>
            <div class="panel-body">
                <form method="" onsubmit="" class="form-horizontal">                      
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Cancelar" onclick="return submitForm(this,event)">Solicitar cancelacion</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        
    </div>
</div>

<script type="text/javascript">
    function submitForm (button, evt)
    {
      if (button.value == "Cancelar"){
        alert("Se ha enviado la solicitud de cancelación");
        location.href = "/alumno";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false;
      }
      else if (button.value == "Subir"){
        alert("Notificación de termino subida");
        location.href = "/alumno";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false;
      } 
    
      return false;
    }
</script>