<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<div class="login-page bk-img" style="background-image: url(images/login-bg.jpg);">
  <div class="form-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center text-bold text-light mt-4x">Ingresa</h1>
          <div class="well row pt-2x pb-3x bk-light">
            <div class="col-md-8 col-md-offset-2">
              <form action="" onsubmit="enviarTramite(event);" class="mt">

                <label for="" class="text-uppercase text-sm">Correo o número de cuenta</label>
                <input id="ingreso" type="text" placeholder="correo@unam.mx" class="form-control mb">

                <label for="" class="text-uppercase text-sm">Contraseña</label>
                <input type="password" placeholder="Contraseña" class="form-control mb">

                <div class="checkbox checkbox-circle checkbox-info">
                  <input id="checkbox7" type="checkbox" checked>
                  <label for="checkbox7">
                    Recuerdame
                  </label>
                </div>

                <button class="btn btn-primary btn-block" type="submit">INGRESA</button>

              </form>
            </div>
          </div>
          <div class="text-center text-light">
            <a href="#" class="text-light">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function enviarTramite(evt) {
    valor = document.getElementById("ingreso").value;
    if (valor === "alumno@unam.mx") {
        location.href = "/alumno";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false; // Evitamos el submit viejos navegadores
    } 
    else if (valor === "jefe@unam.mx"){
        location.href = "/jefe";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false; // Evitamos el submit viejos navegadores
    }
    else if (valor === "division@unam.mx"){
        location.href = "/division";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false; // Evitamos el submit viejos navegadores
    }
    else if (valor === "departamento@unam.mx"){
        location.href = "/departamento";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false; // Evitamos el submit viejos navegadores
    }
    else {
        return true;
    }
}
</script>