<div class="row">
    <div class="col-md-12">    
        <h2 class="page-title">Salon</h2>
        <div class="panel panel-default">
            <div class="panel-heading">Elegir salon</div>
            <div class="panel-body">
                <form method="POST" onsubmit="Resultado(event)" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Salon</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="resultadoE">
                                    <option>Salon 1</option>
                                    <option>Salon 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Votos" onclick="">Seleccionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Resultado(evt){
        location.href = "/departamento/tramite/salon/agendar";
        evt.preventDefault(); // Evitamos el submit en nuevos navegadores
        return false; 
    }

</script>