<div class="row">
    <div class="col-md-12">    
        <h2 class="page-title">Estado del tramite</h2>
        <div class="row">
            
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <th>Alumno</th>
                                        <td colspan="4">Moisés Vázquez</td>
                                    </tr>
                                    <tr>
                                        <th>Tema</th>
                                        <td colspan="4">Mónadas en la programación funcional: una prueba formal de su equivalencia con las ternas de Kleisli</td>
                                    </tr>
                                    <tr>
                                        <th>Asesor</th>
                                        <td colspan="4">Favio Miranda</td>
                                    </tr>
                                    <tr>
                                        <th>Estado</th>
                                        <td colspan="4">Esperando asignación de sinodales</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Lista de sinodos</div>
            <div class="panel-body">
                <form method="" onsubmit="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Primer sinodo</label>
                        <div class="col-sm-10">
                            <input type="text" disabled="" placeholder="Avella Alaminos, Diana." class="form-control">
                            <div class="checkbox checkbox-success">
                                <input id="checkbox0" type="checkbox">
                                <label for="checkbox0">
                                    Solicitar
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Segundo sinodo</label>
                        <div class="col-sm-10">
                            <input type="text" disabled="" placeholder="Rincón Mejía, Hugo A." class="form-control">
                            <div class="checkbox checkbox-success">
                                <input id="checkbox1" type="checkbox">
                                <label for="checkbox1">
                                    Solicitar
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tercer sinodo</label>
                        <div class="col-sm-10">
                            <input type="text" disabled="" placeholder="González Huesca, Lourdes del Carmen." class="form-control">
                            <div class="checkbox checkbox-success">
                                <input id="checkbox2" type="checkbox">
                                <label for="checkbox2">
                                    Solicitar
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cuarto sinodo</label>
                        <div class="col-sm-10">
                            <input type="text" disabled="" placeholder="Linares Arévalo, Pilar Selene." class="form-control">
                            <div class="checkbox checkbox-success">
                                <input id="checkbox3" type="checkbox">
                                <label for="checkbox3">
                                    Solicitar
                                </label>
                            </div>
                        </div>
                    </div>                       
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Guardar" onclick="return submitForm(this,event)">Guardar sinodos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Capturar votos</div>
            <div class="panel-body">
                <form method="POST" onsubmit="Capturar(event)" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Votos</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="votoU">
                                <option>Positivo</option>
                                <option>Negativo</option>
                            </select>
                            <select class="form-control" id="votoD">
                                    <option>Positivo</option>
                                    <option>Negativo</option>
                            </select>
                            <select class="form-control" id="votoT">
                                    <option>Positivo</option>
                                    <option>Negativo</option>
                            </select>
                            <select class="form-control" id="votoC">
                                    <option>Positivo</option>
                                    <option>Negativo</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Votos">Capturar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Capturar resultado</div>
            <div class="panel-body">
                <form method="POST" onsubmit="Resultado()" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Resultado del examén</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="resultadoE">
                                    <option>Aprobado</option>
                                    <option>Suspendido</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Votos" onclick="">Capturar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function submitForm (button, evt){
      if (button.value == "Guardar"){
        alert("Sinodos solicitados");
        return false;
      }
    
      return false;
    }

    function Capturar(evt){
        var a = document.getElementById("votoU").selectedIndex;
        var b = document.getElementById("votoD").selectedIndex;
        var c = document.getElementById("votoT").selectedIndex;
        var d = document.getElementById("votoC").selectedIndex;
        array = [a,b,c,d]
        var count = 0;
        for(var i = 0; i < array.length; ++i){
            if(array[i] == 1){
                count++;
            }
        }
        if (count == 1){
            alert("Un voto negativo");
            return false;
        }else if(count >= 2 ){
            alert("Cancelación");
            location.href = "/departamento";
            evt.preventDefault();
            return false;
        }else if(count == 0){
            alert("Agendar");
            location.href = "/departamento/tramite/salones";
            evt.preventDefault();
            return false;
        }
        return false;
    }

    function Resultado(){
        var x = document.getElementById("resultadoE").selectedIndex;
        if (x == 0){
            alert("Aprobado");
            return false;
        }else{
            alert("Se re agendara");
            return false;
        }
    }

</script>
