<div class="row">
    <div class="col-md-12">
        
        <h2 class="page-title">Estado del tramite</h2>
        <div class="row">
            
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <th>Alumno</th>
                                        <td colspan="4">Moisés Vázquez</td>
                                    </tr>
                                    <tr>
                                        <th>Tema</th>
                                        <td colspan="4">Mónadas en la programación funcional: una prueba formal de su equivalencia con las ternas de Kleisli</td>
                                    </tr>
                                    <tr>
                                        <th>Asesor</th>
                                        <td colspan="4">Favio Miranda</td>
                                    </tr>
                                    <tr>
                                        <th>Estado</th>
                                        <td colspan="4">Esperando asignación de sinodales</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Asignar sinodos</div>
            <div class="panel-body">
                <form method="" onsubmit="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Primer sinodo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Función</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Presidente</option>
                                <option>Vocal</option>
                                <option>Secretario</option>
                                <option>Suplente</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Segundo sinodo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Función</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Presidente</option>
                                <option>Vocal</option>
                                <option>Secretario</option>
                                <option>Suplente</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tercer sinodo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Función</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Presidente</option>
                                <option>Vocal</option>
                                <option>Secretario</option>
                                <option>Suplente</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cuarto sinodo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Función</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Presidente</option>
                                <option>Vocal</option>
                                <option>Secretario</option>
                                <option>Suplente</option>
                            </select>
                        </div>
                    </div>                       
                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" value="Guardar" onclick="return submitForm(this,event)">Guardar sinodos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>
    
<script type="text/javascript">
    function submitForm (button, evt)
    {
        if (button.value == "Guardar"){
        alert("Sinodos asignados");
        return false;
        }
    
        return false;
    }
</script>